<div class="modal-header">
    <h4 class="modal-title">Organisatie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <app-vk-organization #orga [organization]="organization"></app-vk-organization>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalRef.close(orga.organizationForm.value)" [disabled]="orga.organizationForm.status!=='VALID'">OK</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.dismiss()" i18n>Annuleer</button>
  </div>

