<div class="modal-header">
    <h4 class="modal-title">Persoon</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <app-vk-person #pers [person]="person"></app-vk-person>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalRef.close(pers.personForm.value)" [disabled]="pers.personForm.status!=='VALID'">OK</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.dismiss()" i18n>Annuleer</button>
  </div>

