<form [formGroup]="noteForm">

  <div class="form-group">
    <label>Naam</label>
    <input type="text" class="form-control" formControlName="description">
  </div>

  <div class="form-group">
      <label>Organisatie</label>
      <app-vk-typeahead
      formControlName="organization_id"
      [items]="organizationOptions"
    ></app-vk-typeahead>    
      <!-- <select formControlName="organization_id" class="form-control">
        <option *ngFor="let opt of organizationOptions" [value]="opt.id">{{opt.name}}</option>
      </select> -->
    </div>
  
  
    
    <div class="form-group">
      <label>Persoon</label>
      <app-vk-typeahead
      formControlName="person_id"
      [items]="personOptions"
    ></app-vk-typeahead>
  
      <!-- <select formControlName="person_id" class="form-control">
        <option *ngFor="let opt of personOptions" [value]="opt.id">{{opt.name}}</option>
      </select> -->
    </div>
  
  <div class="form-group">
    <label>Details</label>
    <textarea rows="20" class="form-control" formControlName="details"></textarea>
  </div>
  <div class="form-group">
      <label>Archief</label>      
      <input class="form-control" type="checkbox" formControlName="archived"/>
  </div>
</form>